<p id="notice"><%= notice %></p>

<div id="my_view">
  <fieldset>
    <legend>プロフィール</legend>
<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Number:</b>
  <%= @profile.number %>
</p>

<p>
  <b>Position:</b>
  <%= @profile.position %>
</p>

<p>
  <b>Mail:</b>
  <%= @profile.mail %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Etc:</b>
  <%= @profile.etc %>
</p>
</div>

<div id="edit_link">
<%= link_to 'Edit', edit_profile_path(@profile) %>
</div>
