<div id="tweet_update">
  <%= form_tag(:controller=>"index", :action=>"update") do %>
    <%= text_field_tag "tweet" %>
    <%= submit_tag("ツイートする") %>
  <% end %>
</div>
<div id="friends_timeline">
  <dl>
    <%= @tweets.each do |t| %>
    <dt><%= image_tag t.user.profile_image_url, size: '40x40' %></dt>
    <dd><%= t.user.name %></dd>
    <dd><%= t.text %></dd>
    <% end %>
  </dl>
</div>
