<div id="tweet_update">
  <%= form_tag(:controller=>"index", :action=>"update") do %>
    <%= text_field_tag "tweet" %>
    <%= submit_tag("ツイートする") %>
  <% end %>
</div>
<div id="friends_timeline">
  <p>メンバーリスト</p>
  <dl>
    <% @follower.each do |f| %>
    <dt><%= image_tag f.profile_image_url, size: '60x60' %> <span>@<%= f.screen_name %></span></dt>
    <% end %>
  </dl>
</div>
