<div id="tweet_update">
  <%= form_tag(:controller=>"index", :action=>"update") do %>
    <%= text_field_tag "tweet" %>
    <%= submit_tag("ツイートする") %>
  <% end %>
</div>
<div id="members">
  <fieldset>
    <legend>メンバーリスト</legend>
      <table>
      <% @members.each do |member| %>
        <tr>
          <td class="no">No.<%= member.number %></td>
          <td class="position"><%= member.position %></td>
          <td class="name"><%= member.name %></td>
        </tr>
      <% end %>
      </table>
  </fieldset>
</div>
