<div id="tweet_update">
  <%= form_tag(:controller=>"index", :action=>"update") do %>
    <%= text_field_tag "tweet" %>
    <%= submit_tag("ツイートする") %>
  <% end %>
</div>
<fieldset>
  <legend>メンバーリスト</legend>
  <div id="members">
    <dl>
      <% @members.each do |member| %>
      <dt><span class="name"><%= member.name %></span><span class="sc_name">@<%= member.screen_name %></span></dt>
      <% end %>
    </dl>
  </div>
</fieldset>
