<h1>予定リスト</h1>

<div id="schedule_list">
<fieldset>
  <legend>今月</legend>
<% @schedules.each do |schedule| %>
  <div class="one_day">
    <div>
      <%= form_tag(:controller=>"schedules", :action=>"tweet") do %>
        <%= hidden_field_tag(:date, schedule.date) %>
        <%= hidden_field_tag(:location, schedule.location) %>
        <%= submit_tag("tweet") %>
      <% end %>
    </div>
    <p>日付: <strong><%= schedule.date %></strong></p>
    <p>場所: <strong><%= schedule.location %></strong></p>
    <p>
      <span><%= link_to 'Show', schedule %></span>
      <span><%= link_to 'Edit', edit_schedule_path(schedule) %></span>
      <% if !request.smart_phone? %>
        <span><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </p>
  </div>
<% end %>
</fieldset>

<fieldset>
  <legend>翌月</legend>
<% @next_schedules.each do |schedule| %>
  <div class="one_day">
    <div>
      <%= form_tag(:controller=>"schedules", :action=>"tweet") do %>
        <%= hidden_field_tag(:date, schedule.date) %>
        <%= hidden_field_tag(:location, schedule.location) %>
        <%= submit_tag("tweet") %>
      <% end %>
    </div>
    <p>日付: <%= schedule.date %></p>
    <p>場所: <%= schedule.location %></p>
    <p>
      <span><%= link_to 'Show', schedule %></span>
      <span><%= link_to 'Edit', edit_schedule_path(schedule) %></span>
      <% if !request.smart_phone? %>
        <span><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </p>
  </div>
<% end %>
</fieldset>
<p><%= link_to 'New Schedule', new_schedule_path %></p>
</div>

<% if !request.smart_phone? %>
<div id="timeline">
  <dl>
    <% @timeline.each do |t| %>
    <dt><%= image_tag t.user.profile_image_url, size: '40x40' %></dt>
    <dd><%= t.user.name %></dd>
    <dd><%= t.text %></dd>
    <% end %>
  </dl>
<br />
</div>
<% end %>
