<!DOCTYPE html>
<html>
<head>
  <title>AirDolphinsBot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.name %>さん <%= link_to 'ログアウト', logout_path %>
  <%= yield %>
<% else %>
  <%= link_to 'Twitterでログイン', '/auth/twitter' %>
<% end %>

</body>
</html>
