<!DOCTYPE html>
<html>
<head>
  <title>AirDolphinsBot</title>
<% if !request.smart_phone? %>
  <%= stylesheet_link_tag    "application" %>
<% else %>
  <%= stylesheet_link_tag    "smart_phone/application" %>
<% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if request.smart_phone? %>
  <p id="team">AirDolphins</p>
<% else %>
  <span id="team">AirDolphins</span>
<% end %>
<% if current_user %>
  <span class="logout">Hello <%= current_user.name %> @<%= current_user.screen_name %> <%= link_to 'ログアウト', logout_path %></span>
  <div id="main">
    <p class="link"><%= link_to 'Top', index_path %> / <%= link_to 'Schedule', schedules_path %></p>
    <%= yield %>
  </div>
<% else %>
  <div class="login"><span><%= link_to 'Twitterでログイン', '/auth/twitter' %></span></div>
<% end %>
</body>
</html>
